.carrousel,
.movies-select,
.cinerama-experience,
.movies-card {
    margin-bottom: 3em;
}

.section-title {
    font-weight: 700;
}

.page-filter {
    font-family: 'Poppins';
    font-size: 0.875rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--color-primary);
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.page-filter:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0px var(--color-primary);
    outline: none;
}

.card-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: var(--radius-gen);
    border: none;
    width: 200px;
    height: 100%;
    background: transparent;
}

.card-img-top {
    border-radius: var(--radius-gen);
    box-shadow: 8px 8px 8px var(--color-bg-shadow-20);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cinerama-exp {
    margin-top: 1em;
    height: 350px;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 1em;
}

.card-title {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 768px) {
    .page-filter {
        margin-top: .8em;
    }

    .cinerama-exp {
        height: 200px;
    }
}